<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>MZZPUP</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="icon" href="/images/log.png" type="image/png">
</head>
<body>

    <div id="mobile-menu-toggle-container">
        <!-- Кнопка открытия мобильного меню -->
        <div id="mobile-menu-toggle">
            <button id="mobile-menu-btn">
                <i class="fas fa-bars"></i>
            </button>
        </div>
    </div>

    <!-- Мобильное меню -->
    <div id="mobile-menu">
            <ul class="navigation-list mobile-menu-list">
                <li><a href="/">Główna</a></li>
                <li><a href="/join_info">Jak wstąpić do MZZPUP</a></li>
                <li><a href="/information">Informacje ogólne</a></li>
                <li><a href="/kontakt">Kontakt</a></li>
            </ul>
    </div>

<div class="header-container">
    <div class="logo-container">
        <img src="/images/logo.png" alt="logo" class="logo">
    </div>
    <div class="site-title-container">
        <h1>Międzyzakładowy Związek Zawodowy</h1>
        <h1>Pracowników Ukraińskich w Polsce</h1>
    </div>
</div>
<div class="navigation-container">
    <ul class="navigation-list">
        <li><a href="/">Główna</a></li>
        <li><a href="/join_info">Jak wstąpić do MZZPUP</a></li>
        <li><a href="/information">Informacje ogólne</a></li>
        <li><a href="/kontakt">Kontakt</a></li>
    </ul>
</div>

<div class="container">
    <h1 class="main-heading">Jak wstąpić do MZZPUP</h1>
    <p>Aby wejść do szeregów związków zawodowych:</p>
    <ol class="steps-list">
        <li>Wydrukuj i wypełnij ten formularz aplikacyjny. Wniosek można znaleźć <a href="https://docs.google.com/document/d/1soO8bO-FCeIvhXP6jYmstfX-ROpAAoWoaSUg0u5ywjo/edit" class="link">tutaj</a>. W zgłoszeniu konieczne jest samodzielne podpisanie podpisu!</li>
        <li>Zapłać za wstęp - (lub równowartość tej kwoty w innej walucie). Jeśli środki są wypłacane przez bank niebankowy, najpierw musisz upewnić się, że bank współpracuje z bankami w Polsce. Wysokość opłaty wstępu wynosi 10 złotych. Również raz z opłatą wstępu musisz zapłacić 6 miesięcy członkostwa w Związku Zawodowym. Miesięczna opłata członkowska wynosi 10 złotych.</li>
    </ol>
    <p class="highlight">Łączna kwota wyniesie: 10 zł + 10 * 6 zł = 70 zł.</p>
    <p>Formularz z wymaganiami w języku ukraińskim <a href="https://docs.google.com/document/d/1XoEGbphTrXuFJ2uWHVKpzyufCBs8TZ0iZXs7WBY-DL4/edit" class="link">tutaj</a>, w języku polskim znajduje się <a href="https://docs.google.com/document/d/1RKGjOJiOacCr1mSr8joT-_NpQYKc0asAPxWFnwERJLQ/edit" class="link">tutaj</a>.</p>

    <ol start="3" class="steps-list">
        <li>Przygotuj dokumenty: wypełniony formularz wniosku z podpisem, kopia czeku na opłacenie składki członkowskiej, 2 zdjęcia (3х4 cm).</li>
        <li>Wyślij do nas i dołącz dokumenty z pkt 3, o nazwie George Karyahina, adres: ul. Kopernika 36/40, Warszawa, Polska (Jurij Karyagin, ul. Kopernika 36/40, 00-924 Warszawa, Rzeczpospolita Polska). W liście do podania adresu zwrotnego i kontaktowe dane: imię i nazwisko, numer telefonu i adres e-mail.</li>
        <li>Spodziewaj się pisemnego powiadomienia od związków, aby potwierdzić twoje członkostwo. Otrzymasz list na swój adres e-mail, inaczej skontaktują się z Tobą przedstawiciele Związku Zawodowego.</li>
    </ol>

    <p class="highlight">Osoby, które są niepełnosprawne i świadectwo uczniów w przypadku dokumentów potwierdzających ten stan płacą miesięczną opłatę 5 zł. Wysokość zaliczki dla tych kategorii wynosi: 10 zł * 6 + 5 = 40 zł.</p>
    <p>Związek zawodowy ma prawo do ochrony praw pracowniczych tylko tych obywateli, którzy otrzymali status oficjalnego członkostwa.</p>

    <h2 class="sub-heading">Drodzy kandydaci!</h2>
    <p>Jeśli masz pytania na temat procedur przyjmowania unii lub dokumentów, prosimy o kontakt pod numerami telefonów, które można znaleźć w zakładce „Kontakt”, lub pisz na adres e-mail <a href="mailto:profsukrpol@gmail.com" class="link">profsukrpol@gmail.com</a>.</p>

    <div class="form-section">
        <h2 class="sub-heading">Wniosek o wstąpienie:</h2>
        <h4 class="wersion">[українська версія]</h3>
        <h3 class="form-subheading">Заява про вступ</h3>
        <h3 class="form-subheading">у Міжгалузеву профспілку українських працівників у Польщі</h3>
        Я, що підписався нижче / заявляю про вступ до Міжгалузевої профспілки українських працівників у Польщі. Я зобов’язуюсь дотримуватися статуту профспілки та всіх рішень організації.</p>

        <h4 class="wersion">[wersja polska]</h3>
        <h3 class="form-subheading">Deklaracja członkowska</h3>
        <h3 class="form-subheading">Międzyzakładowego Związku Zawodowego Pracowników Ukraińskich w Polsce</h3>
        Ja, niżej podpisany/a, deklaruję niniejszym wstąpienie do Międzyzakładowego Związku Zawodowego Pracowników Ukraińskich w Polsce. Zobowiązuję się do przestrzegania Statutu Związku i wszelkich uchwał związkowych.</p>

        <h3>(Podpis / підпис)</h3>
        <p>nazwisko/прізвище :<br>
        imię/ім’я, по батькові:<br>
        Telefon/телефон:<br>
        e-mail:<br>
        (data/дата)<br>
        (podpis/підпис)</p>
    </div>
</div>



<footer class="footer">
    <div class="footer-content">
        <div class="footer-logo">
            <img src="/images/logod.png" alt="logo" class="footer-logo-img">
        </div>
        <div class="footer-info">
            <p>Номер телефона: +48 123 456 7890</p>
            <p>Адрес: ул. Примерная, 123, г. Місто</p>
        </div>
    </div>
</footer>

<script src="/js/main.js"></script>

</body>
</html>